.acard {
    margin-top:50px;
    background-color: #540AFF;
   
}

.side {
   margin: 0px;
   padding-left: 0px;
   padding: 0px;
    
    
}

.side_nav {
    height: 100vh;
    width: 100vh;
    margin: 0px;
    /* background-image: url("./img/subtle-wood.gif"); */
    background-color: #081B59;
    
}



.content {
    height: 100vh;
    width: 100vh;
    margin-top: 0px;
    background-image: url("./img/galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
    
}

.nav-buttons {
    padding-top: 12rem;
}

.side-buttons {
    padding-top: 50px;
    padding-left: 8px;
}

.btn {
    background-color: #540AFF;
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}



