html {
    background-color: #081B59
}

.topnav {
    display: flex;
    flex-direction: row;
}
.nav-btn {
    padding-right: 4rem;
    
}

a.btn {
   margin-left: 5rem;
   margin-top: 2rem;
   width: 12rem;
  
}

.acard {
    margin-top:60px;
    background-color: #540AFF;
   
}

.side {
   margin: 0px;
   padding-left: 0px;
   padding: 0px;
    
    
}


.content {
    height: 100vh;
    width: 100vh;
    margin-top: 0px;
    background-image: url("./img/purp.jpg");
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
   
    
}


.btn {
    background-color: #540AFF;
    color: black;   
}



.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}

.page-footer {
    background-color: #081B59
}

@media screen and (max-width: 640px)  {
    .content {
        background: #31019F;
    }
}
