
.top-nav {
    background-color: #081B59;
}

.acard {
    margin-top:60px;
    background-color: #540AFF;
   
}

.side {
   margin: 0px;
   padding-left: 0px;
   padding: 0px;
    
    
}

.side_nav {
    height: 100vh;
    width: 100vh;
    margin: 0px;
    /* background-image: url("./img/subtle-wood.gif"); */
    background-color: #081B59;
    
}



.content {
    height: 100vh;
    width: 100vh;
    margin-top: 0px;
    /* background-image: url("./img/galaxy.jpg"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #31019F;
    overflow: auto;
   
    
}


.btn {
    background-color: #540AFF;
    color: black;
    /* width: 10rem; */
    
    
}



.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}



/* .foot {
    position:fixed;
   left:0px;
   bottom:0px;
   
   width:100%;
} */

