
.about {
  display: flex !important;
  justify-content: center !important;
  

}

.header-tag {
  display: flex;
  justify-content: center;
}
 .poop {
   display: flex; 
   justify-content: center;
 }

 .skill-card {
   display: flex;
   justify-content: center;
 }

 .project-img {
   height: 14rem;
 }

